*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
    background-color: wheat;
}

button {
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
  }

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
    min-height: 500px;
    padding: 10px;
    margin-top: 50px;
}

.calculator {
    width: 400px;
    border: 2px solid;
    border-radius: 15px;
    padding: 20px;
    background-color: #aaa;
}

.display{
    padding: 10px 20px;
    border: 2px solid;
    margin-bottom: 20px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    text-align: right;
    word-wrap: break-word;
    word-break: break-all;
}

#display-last{
    min-height: 32px;
    font-size: 20px;
}
#display-current{
    min-height: 64px;
    font-size: 40px;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button{
    padding: 20px;
    border: 2px solid;
    border-radius: 5px;
    font-size: 20px;
    background-color: white;
}

button:hover{
    background-color: #ddd;
}

button:active{
    background-color: #ccc;
}

img{
    width: 20px;
    height: 20px;
}

.span-2{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
}

.span-2 > *{
    flex: 1;
}

#Clear{
    background-color: rgb(229, 97, 97);
}
